.container {
}

.header {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  color: #6ca651;
}

.main {
  display: flex;
  justify-content: center;
  gap: 15%;
}

.content {
  max-width: 800px;
  text-align: center;
  margin-top: 10%;
}

.description {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}
.image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .container {
  }

  .main {
    flex-direction: column;
    align-items: center;
  }
  .content {
    max-width: 100%;
    margin-top: 20px;
  }
  .image {
    margin-top: 15px;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 780px) {
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
  .image {
    margin-top: 25px;
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 580px) {
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
  .image {
    margin-top: 30px;
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 18px;
  }
  .description {
    font-size: 12px;
  }
  .image {
    margin-top: 35px;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 300px) {
  .title {
    font-size: 16px;
  }
  .description {
    font-size: 10px;
  }
  .image {
    margin-top: 40px;
    width: 250px;
    height: 250px;
  }
}
