.header {
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.title {
  color: #6ca651;
}

.description {
  color: #555555;
  font-size: 18px;
}

@media (max-width: 780px) {
  .title {
    font-size: 24px;
  }

  .description {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .title {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 18px;
  }

  .description {
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  .title {
    font-size: 16px;
  }

  .description {
    font-size: 10px;
  }
}
