.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  margin-top: 50px;
  background-color: #f5f5f5;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  font-weight: 400;
}

.title {
  color: #6ca651;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup input {
  padding: 10px;
  border-radius: 40px;
  border: none;
}

.inputGroup input::placeholder {
  color: #97a87a;
}

.inputGroup label {
}

.inputGroup input:focus {
  outline: none;
  border: 2px solid #6ca651;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.registerButton {
  background-color: #6ca651;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.registerButton:hover {
  background-color: #5b9445;
  transform: translateY(-2px);
}

.error {
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 5px;
}

.sucesso {
  color: green;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 850px) {
  .title {
    font-size: 24px;
  }
  .container {
    padding: 20px;
  }

  .inputGroup input {
    padding: 8px;
  }

  .registerButton {
    padding: 8px 16px;
    font-size: 14px;
  }
  .inputGroup label {
    font-size: 14px;
  }
  .error {
    font-size: 12px;
  }
  .sucesso {
    font-size: 12px;
  }
}
