.footer {
    background-color: #ACBFA4;
    text-align: center;
    padding: 20px 0;

}

.text {
    color: #FFFFFF;
    font-size: 20px;
}

@media (max-width: 580px) {
    .text {
        font-size: 18px;
    }
    
}

@media (max-width: 450px) {
    .text {
        font-size: 14px;
    }
    
}

@media (max-width: 360px) {
    .text {
        font-size: 12px;
    }
    
}

