.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFDF1;
}

.title{
    color: #6CA651;
    margin-left:15px;

}

.logo_container{
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 5px;
    width: 50px;
    height: 50px;
}

.list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
    
}

.link{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}

.link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    right: 0;
    background: #6CA651;
    transition: width .3s ease;
}

.link:hover{
    color: #6CA651;
    font-weight: 600;
}

.link:hover::after{
    width: 100%;
    left: 0;
   
}

@media (max-width: 780px) {
    .title {
        font-size: 24px;
    }

    .link {
        font-size: 16px;
    }
}
@media (max-width: 580px) {
    .title {
        font-size: 20px;
    }

    .link {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 16px;
        margin-left: 4px;
    }

    .link {
        font-size: 12px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 360px) {
    .title {
        font-size: 14px;
    }

    .link {
        font-size: 10px;
    }

    .logo {
        width: 30px;
        height: 30px;
    }
}